<nav class="navbar navbar-expand-lg navbar-dark bg-primary" xmlns:sec="http://www.w3.org/1999/xhtml">
    <a class="navbar-brand" href="#"></a>
    <img src="/images/student-48.png" alt="logo"/>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mynavbar"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" href="/home">
                    <span th:text="#{home.message}">Home</span>
                    <span class="sr-only">(current)</span>
                </a>
            </li>

			<li class="nav-item dropdown active" sec:authorize="isAuthenticated()">
                <a class="nav-link dropdown-toggle" href="#" id="spacesDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span th:text="#{nav.spaces}">Espacios</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="spacesDropdown">
                    <a class="dropdown-item" href="/space" id="spaces-reservation">
                        <span th:text="#{space.list}">Ver espacios de reserva</span>
                    </a>
                    <a class="dropdown-item" sec:authorize="hasRole('ADMIN')" href="/space/add" id="spaces-add-reservation">
                        <span th:text="#{space.add}">Agregar espacios de reserva</span>
                    </a>
                </div>
            </li>

            <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                <a class="nav-link" href="/reservations/admin" id="reservations-admin">
                    <span th:text="#{space.reservations.list}">Listado global de reservas</span>
                    <span class="sr-only">(current)</span>
                </a>
            </li>

            <li class="nav-item dropdown active" sec:authorize="hasRole('USER')">
                <a class="nav-link dropdown-toggle" href="#" id="reservationsDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span th:text="#{nav.reservations}">Mis reservas</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="reservationsDropdown">
                    <a class="dropdown-item" href="/reservations/list">
                        <span th:text="#{nav.reservations}">Mis reservas</span>
                    </a>
                    <a class="dropdown-item" href="/reservations/add">
                        <span th:text="#{reservations.add.title}">Nueva reserva</span>
                    </a>
                </div>
            </li>

        </ul>

        <!-- Idiomas + Login/Signup -->
        <ul class="navbar-nav justify-content-end">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="btnLanguage" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span th:text="#{language.change}"></span>
                </a>
                <div id="languageDropdownMenuButton" class="dropdown-menu" aria-labelledby="btnLanguage">
                    <a class="dropdown-item" id="btnEnglish" data-lang="en" value="en" href="#">
                        <img th:src="@{/images/if_uk_flag.png}" style="border: 0; float: left; margin-right: 15px"/>
                        <span th:text="#{language.en}">Inglés</span>
                    </a>
                    <a class="dropdown-item" id="btnSpanish" data-lang="es" value="es" href="#">
                        <img th:src="@{/images/if_spain_flag.png}" style="border: 0; float: left; margin-right: 15px"/>
                        <span th:text="#{language.es}">Español</span>
                    </a>
                    <a class="dropdown-item" id="btnFrench" data-lang="fr" value="fr" href="#">
                        <img th:src="@{/images/if_france_flag.png}" style="border: 0; float: left; margin-right: 15px"/>
                        <span th:text="#{language.fr}">Français</span>
                    </a>
                </div>
            </li>

            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link" href="/signup">
                    <i class='fas fa-user-alt' style='font-size:16px'></i>
                    <span th:text="#{signup.message}"></span>
                </a>
            </li>

            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link" href="/login">
                    <i class='fas fa-sign-in-alt' style='font-size:16px'></i>
                    <span th:text="#{login.message}"></span>
                </a>
            </li>

            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" href="/logout">
                    <i class='fas fa-sign-out-alt' style='font-size:16px'></i>
                    <span th:text="#{logout.message}"></span>
                </a>
            </li>

            <li class="nav-item" sec:authorize="hasRole('USER')">
                <a class="nav-link" href="/user/changePasswd">
                    <i style='font-size:16px'></i>
                    <span th:text="#{user.changePasswd.title}"></span>
                </a>
            </li>
        </ul>
    </div>
</nav>
